header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  .left-header {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
    font-size: 18px;
  }
  
  .right-header img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;  
  }
  
  .right-header img:last-child {
    margin-right: 0;
  }
  